/*

 Regular styling for the application
 */


.sidebar{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
}

.table-view{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.table-view .cell{
    -fx-border-width: 0px;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-border-width: 0px;

}

.text-area, .text-field, .combo-box, .combo-box .cell:selected{
    -fx-min-width: 225px;
}
